<?xml version="1.0"?>
<configuration>
    <appSettings>
      <add key="ApiAuthorizationKey" value="yourkeygoeshere"/>
      <add key="DefaultProjectId" value="129569"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
