<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="dasConnection" connectionString="Data Source=.;Initial Catalog=Trackin;Integrated Security=True"/>
    </connectionStrings>
    <appSettings>
        <add key="ApiAuthorizationKey" value="yourkeygoeshere"/>
        <add key="StartYear" value="2010"/>
        <add key="EndYear" value="2016"/>
    </appSettings>
</configuration>