<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dasConnection" connectionString="Data Source=MTYDEV33;Initial Catalog=Trackin;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="ApiAuthorizationKey" value="yourkeygoeshere"/>
    <add key="StartYear" value="2011"/>
    <add key="EndYear" value="2011"/>
  </appSettings>
</configuration>