<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="dasConnection" connectionString="Data Source=.;Initial Catalog=Trackin;Integrated Security=True"/>
    </connectionStrings>
    <appSettings>
        <add key="BaseDir" value="C:\Dropbox"/>
    </appSettings>
</configuration>