<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net40-Client" />
  <package id="Dapper" version="1.42" targetFramework="net45" />
  <package id="Tracking.DataAccess.Base" version="1.0.0" targetFramework="net45" />
  <package id="Tracking.DataAccess.SqlServer" version="1.0.0.0" targetFramework="net45" />
</packages>